div {
  display: block;
  unicode-bidi: isolate;
}

body {
  font-family: "Montserrat", sans-serif; /* Modern, clean font */
  background: radial-gradient(circle at center, #1b1c1e, #101113);
  color: #f2f2f2;
  margin: 0;
  padding: 0;
  user-select: none;
  line-height: 1.6;
  /* text-shadow: 2px 2px 4px rgba(247, 245, 245, 0.7); */
  font-weight: bold;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  animation: fadeIn 1s ease-in-out;
  overflow: hidden; /* Disable scrolling */
}

/* Container for the circle and buttons */
.flex-container {
  display: flex;
  justify-content: space-between; /* Align items to opposite sides */
  align-items: center; /* Center items vertically */
  width: 100%; /* Full width of the container */
}
.container-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* Buttons on the right */
.button-container {
  display: flex;
  gap: 10px; /* Space between the buttons */
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.block {
  width: 80%; /* Adjust width as needed */
  height: 80%; /* Adjust height as needed */
  padding: 20px;
  position: absolute;
  background-color: lightgray; /* Background color for the block */
  border: 2px solid black; /* Border around the block */
  margin: 50px auto; /* Center the block horizontally */
  transform: translate(-50%);
  left: 50%;
  background-repeat: no-repeat;
  background: url(../src/poker-table.jpg);
  background-size: contain;
}

table {
  width: 100%; /* Make the table take up the full width of the block */
  border-collapse: collapse; /* Merge borders for a cleaner look */
}

table,
th,
td {
  border: 1px solid black; /* Borders for the table and cells */
  margin-top: 50px;
  padding: 10px;
  text-align: left; /* Align text to the left */
  vertical-align: middle;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  background-color: rgba(229, 245, 247, 0.2); /* 50% transparency */
}
h2 {
  color: #f3c13a;
  font-weight: bold;
  border-bottom: 2px solid #f3c13a;
}

th {
  text-transform: uppercase;
  background-color: rgba(
    229,
    245,
    247,
    0.524
  ); /* Background color for table header */
}
.circle {
  width: 100px; /* Diameter of the circle */
  height: 100px; /* Diameter of the circle */
  background: linear-gradient(45deg, #585555, #9a8d92);
  border: 1px solid black;
  border-radius: 50%; /* Makes the div a circle */
  position: relative;
  border: 2px solid #d1a441;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

  /* top: 20%; Center the circle vertically */
  /* left: 20%; Center the circle horizontally */
  /* transform: translate(-50%, -50%); Center the circle precisely */
}

.circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: black;
}

/* The modal background */
.modal {
  display: none; /* Hidden by default */
  justify-content: center;
  border-radius: 12px;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

/* Modal content box */
.modal-content {
  background-color: rgb(250, 236, 236);
  /* margin: 15% auto; 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 5px;
  text-align: center;
}

/* Close button for the modal */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Styling for modal options */
.modal-options {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  /* position: absolute; */
}

button {
  /* position: relative; */
  /* transform: translate(-50%, -50%); */
  border: rgb(2, 14, 2);
  border-radius: 4px;
  background: linear-gradient(45deg, #09e611, #179f42);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  width: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  /* top: 50%;
  left: 50%; */
  flex: 1;
}

button:hover {
  color: white;
  font-weight: 500;
  box-shadow: 0 8px 16px rgba(164, 184, 164, 0.4); /* Shadow on hover */
}

.container {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reset {
  position: relative;
  width: 90%; /* Make buttons take up full width of the container */
  /* top: -5%;
  left: 83%;
  transform: translate(-50%, -50%); */
  background: linear-gradient(45deg, #585555, #9a8d92);
}
.poker-button,
input {
  background: linear-gradient(45deg, #2d2b2b, #4a4949);
  color: #ffffff;
  border: 2px solid #d1a441; /* Goldish border for a luxury casino feel */
  border-radius: 50px;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);

  overflow: hidden;
}

/* Hover effect for the button */
.poker-button:hover {
  background: linear-gradient(45deg, #1e1d1d, #383838);
  border-color: #f3c13a; /* Slightly brighter border on hover */
  color: #f3c13a;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4);
}

/* Adding a shine effect */
.poker-button::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.2);
  transform: rotate(45deg);
  transition: all 0.75s ease;
  z-index: 0;
}

.poker-button:hover::before {
  top: -150%;
  left: -150%;
}

/* Optional glow effect */
.poker-button:focus {
  outline: none;
  box-shadow: 0 0 15px 4px rgba(241, 199, 84, 0.75);
}

.option-button {
  background: linear-gradient(
    135deg,
    #4e4b4b,
    #292828
  ); /* Dark, metallic-like background */
  color: #f3c13a; /* Gold color for the text */
  font-size: 16px;
  font-weight: bold;

  border: 2px solid #000; /* Black border */
  border-radius: 100px; /* Rounded button shape */
  padding: 15px 10px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4); /* Slight shadow for depth */
}
